.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  h1 {
    color: white;
    font-size: 25px;;
  }

}

.AuthForm {
  margin: auto;
  width: 500px;
  display: block;
  padding: 20px 50px;
  box-sizing: border-box;
  border: 1px solid #8d4e4e;
  border-radius: 5px;
  box-shadow: 2px 2px 4px grey;
  background: rgb(186,111,111);
  background: linear-gradient(135deg, rgba(186,111,111,1) 0%, rgba(235,157,157,1) 100%);
}

.ActionButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
