.AnswerItem {
  background-color: #a05959;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    background-color: #d69494;
    transition: background-color 0.3s ease-in-out;
  }
}

.selected {
  background-color: lightblue;
  color: #a05959;
  border: 1px solid #a05959;
  font-weight: bold;
}
