.AnswerItem {
  background-color: #a05959;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    background-color: #D69494;
    transition: background-color .3s ease-in-out;
  }
}