.MenuToggle {
  position: fixed;
  left: 40px;
  top: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #8d4e4e;
  transition: all .3s ease-in;
  z-index: 1000;

  :hover {
    opacity: 0.7;
  }

}

.open {
  left: 320px;
  color: white
}
