.Button {
  display: inline-block;

  &button {
    background-color: #8D4E4E;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 10px;
    cursor: pointer;

    &:hover {
      background-color: #C47878;
      transition: background-color .3s ease-in-out;
    }

    &:focus{
      outline-color: #F0D0D0;
    }

  }
}

.disabled button {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
    
.success button {
  background-color: green;

  &:hover {
    background-color: yellowgreen;
    transition: background-color .3s ease-in-out;
  }
}
